
exercise3/remoteApi\.so

exercise3/vrep\.py

exercise3/vrep\.pyc

exercise3/vrepConst\.py

exercise3/vrepConst\.pyc

*.pyc

exercise3/.idea/

exercise3/venv/

exercise3/venvNew/

exercise3/venvNewNew/
