
exercise3/remoteApi\.so

exercise3/vrep\.py

exercise3/vrep\.pyc

exercise3/vrepConst\.py

exercise3/vrepConst\.pyc

*.pyc

exercise3/.idea/

exercise3/venv/

exercise3/venvNew/

exercise3/venvNewNew/

exercise_1/\.idea/

exercise_1/remoteApi\.so

exercise_1/vrep\.py

exercise_1/vrepConst\.py
exercise_6/vrep.py
exercise_6/vrepConst.py

exercise_5/\.idea/

*.iml

exercise_6/\.idea/

exercise_6/remoteApi\.so
